<div class="user-tab">
	<form name="form.accountInfoForm">
    <div class="block-show">
        <table class="table info-show info-table">
            <tr>
                <td>
                    <label class="col-md-3 important-label">昵称:</label>
                <label>
                    <input name="invoiceMtParty" class="form-control" type="text" ng-model="HomeUser.message.name"></input>
                </label>
                </td>
                <td>
                    <label class="col-md-3 important-label">电话:</label>
	                <label>
	                    <input name="invoiceItem" class="form-control" type="text" ng-model="HomeUser.message.phone"></input>
	                </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-3 important-label">学校:</label>
	                <label>
	                    <input name="recipientName" type="text" class="form-control col-md-6" ng-model="HomeUser.message.school" ></input>
	                </label>
                </td>
                <td>
	                <label class="col-md-3 important-label">公司:</label>
	                <label>
	                    <input name="recipientName" type="text" class="form-control col-md-6" ng-model="HomeUser.message.company" ></input>
	                </label>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <label class="col-md-3 important-label">工作:</label>
	                <label>
	                    <input name="recipientName" type="text" class="form-control col-md-6" ng-model="HomeUser.message.work" ></input>
	                </label>
                </td>
                <td>
                    <label class="col-md-3 important-label">地址:</label>
	                <label>
	                    <input name="recipientName" type="text" class="form-control col-md-6" ng-model="HomeUser.message.address" ></input>
	                </label>
                </td>
            </tr>
            <tr>
            	<td></td>
            	<td>
            		<span class="col-md-8">
            			<button class="btn btn-defalut common-btn pull-right btn-info" ng-click="HomeUser.saveInfo()">保存</button>
            		</span>
            		
            	</td>
            </tr>
        </table>
    </div>
</form>
</div>


