.navbar-reset {
  background-color: #3361a4;
  color: #fff; }
  .navbar-reset .navbar-header .navbar-brand {
    color: #fff; }
  .navbar-reset .navbar-nav li a {
    color: #ddd; }
    .navbar-reset .navbar-nav li a:hover {
      color: #fff; }
  .navbar-reset .navbar-nav li.active a {
    color: #fff;
    background-color: #4e7cc4; }
    .navbar-reset .navbar-nav li.active a:hover {
      color: #fff;
      background-color: #4e7cc4; }
