<div ng-include src="HomeDetail.headerView" class="headerView detailHeader"></div>
<div class="detail-layout center-block">
	<div class="article-layout">
		<div class="article-title-w">
			<h4>{{HomeDetail.article.tittle}}</h4>
			<div class="article-author">
				<label class="article-kind">{{HomeDetail.article.kindName}}</label> 来自<i class="i-normal"> {{HomeDetail.article.author}} </i><span> </span><i class="i-small">{{HomeDetail.article.create_time}}</i>
			</div>
		</div>
		<div class="article-content-w linear-b">
			<p>{{HomeDetail.article.content}}</p>
			<div class="rpy-btn-list clearfix">
				<!-- <i class="i-small">{{assue.time}}</i> -->
				<ul class="pull-right">
					<li><i class="fa fa-hand-paper-o fa-lg"></i> </li>
					<li><i class="fa fa-comment-o fa-lg" ng-click="HomeDetail.oprReply(HomeDetail.article)"></i> </li>
					<li><i class="fa icon-2x" aria-hidden="true" ng-class="{true:'fa-thumbs-up',false:'fa-thumbs-o-up'}[HomeDetail.likeIcon0]" ng-click="HomeDetail.oprLike(0)"></i> </li>
				</ul>
			</div>
		</div>
		<div class="article-assue-w">
			<div class="assue-wrap linear-b" ng-repeat="assue in HomeDetail.article.commentes">
				<div class="assue-o">
				    <div class="assue-author">
				    	<strong >{{assue.name}}</strong>
				    	<i class="i-small">{{assue.time}}</i>
				    </div>
					<p>{{assue.content}}</p>
					<div class="rpy-btn-list clearfix">
						<!-- <i class="i-small">{{assue.time}}</i> -->
						<ul class="pull-right">
							<li><i class="fa fa-hand-paper-o fa-lg"></i> </li>
							<li><i class="fa fa-comment-o fa-lg" ng-click="HomeDetail.oprReply(assue)"></i> </li>
							<li><i class="fa icon-2x" aria-hidden="true" ng-class="{true:'fa-thumbs-up',false:'fa-thumbs-o-up'}[HomeDetail['likeIcon' + assue.index]]" ng-click="HomeDetail.oprLike(assue.index)"></i> </li>
						</ul>
					</div>
					<div class="rpy-list-w">
						<uib-accordion close-others="oneAtATime">
							<uib-accordion-group is-open="status.open">
							    <uib-accordion-heading>
							        查看回复 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
							    </uib-accordion-heading>
							    <ul class="rpy-list">
							    	<li ng-repeat="item in assue.reply">
							    		<div><i class="i-normal">{{item.replyAuthor}}:
							    		</i><span> 评论</span><i class="i-normal">{{item.author}}:</i> <span>{{item.content}}</span>
								    	</div>
								    	<div class="clearfix">    		
								    		<span class="pull-right" ng-click="HomeDetail.isCollapsed['rpy' + assue.index] = false">回复</span>
								    		<i class="i-small pull-right text-muted">{{item.create_time}}</i>
								    	</div>
							    	
							    	</li>
							    </ul>
							    <div class="set-rpy-w">
							        <p class="clearfix">
							        	<button class="rpy-btn-white btn btn-default btn-sm pull-right" ng-click="HomeDetail.isCollapsed['rpy' + assue.index] = !HomeDetail.isCollapsed['rpy' + assue.index]">我也说一句</button>
							        </p>
							    	<div uib-collapse="HomeDetail.isCollapsed['rpy' + assue.index]" data-rr={{HomeDetail.isCollapsed['rpy'+ assue.index]}}>
										<div class="bg-success pdg-div">
											<textarea></textarea>
											<p>
												<button class="btn btn-primary btn-sm pull-right">发表</button>
											</p>

										</div>
									</div>
							    </div>
							    
							</uib-accordion-group>
						</uib-accordion>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ng-include src="HomeDetail.footerView" class="detailFooterView center-block"></div>

