
<div class="headerView detailHeader">
	<div class="linear-wp"></div>
	<div class="header">
	    <div class="header-wp-b">
	    	<div class="center-block header-content">
				<h3 class="logo">DLNUBBS</h3>
				<ul class="sub-nav">
	                <li ng-repeat="kind in HomeClassify.Kinds"><a href="{{'/#/classify/' + kind.id}}" ng-class="{active: HomeClassify.kindId === kind.id}">{{kind.title}}</a></li>
	                <li><a href="">游戏联盟</a></li>
	            </ul>
				<div class="userMesssage">
					<label>你好：
						<a href="">{{HomeDetail.user.name}}</a>
					</label>
					<label>等级：
						<a href="">{{HomeDetail.user.level}}</a>
					</label>

				</div>
			</div>
	    </div>	
	</div>
</div>
<div class="detail-layout center-block">
	<ul>
		<li ng-repeat="article in HomeClassify.articles">
			<a href="/#/detail/{{article.id}}">{{article.tittle}}</a>
		</li>
	</ul>
</div>
<div ng-include src="HomeClassify.footerView" class="detailFooterView center-block"></div>