
<div class="headerView detailHeader">
	<div class="linear-wp"></div>
	<div class="header header-sp">
	    <div class="header-wp-b">
	    	<div class="center-block header-content">
				<h3 class="logo">DLNUBBS</h3>
				<ul class="sub-nav">
	                <li ng-repeat="kind in HomeClassify.Kinds"><a href="{{'/#/classify/' + kind.id}}" ng-class="{active: HomeClassify.kindId === kind.id}">{{kind.tittle}}</a></li>
	                <li><a href="">游戏联盟</a></li>
	            </ul>
				<div class="userMesssage">
					<label>你好：
						<a href="#/user/{{HomeClassify.user.id}}">{{HomeClassify.user.name}}</a>
					</label>

				</div>
			</div>
	    </div>	
	</div>
</div>
<div class="b-wrap">
	<div class="detail-layout center-block">
		<div class="main-wrap">
			<ul class="clearfix">
				<li ng-repeat="article in HomeClassify.articles">
				    <div class="badge-w">
				    	<span class="badge">{{article.agree_count}}</span>
				    </div>
				    <div class="article-info">
				    	<div class="title-info">
							<a href="/#/detail/{{article.id}}">{{article.tittle}}</a>
							<div class="user-author">
								<i class="fa fa-user" aria-hidden="true"></i>
								<span>{{article.author}}</span>
							</div>						
						</div>
						<div class="content-info">
							<p>{{article.content}}</p>
							<i class="i-small">{{article.create_time}}</i>
						</div>
				    </div>			
				</li>
			</ul>
			<div class="pagination-w">
				<uib-pagination ng-show="HomeClassify.pager.totalItems > 1" total-items="HomeClassify.pager.totalItems" ng-model="HomeClassify.page" items-per-page="1" ng-change="HomeClassify.getArticleByKind(HomeClassify.kindId,HomeClassify.page)" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" max-size="5" boundary-links="true" rotate="false">
				</uib-pagination>
			</div>
			<div class="publish-wrap">
				<h5 class="col-sm-5">发布新帖</h5>
				<div class="clearfix publish-c">
					<div class="col-sm-7">
						<input type="text" class="form-control" ng-model="HomeClassify.newArticle.tittle" placeholder="请填写标题">
					</div>
					<div class="col-sm-9 publish-text">
						<textarea ng-model="HomeClassify.newArticle.content"></textarea>
					</div>
					<div class="col-sm-9">
						<label class="col-md-3 important-label">是否允许评论:</label>
		                <label>
		                    <input name="is_comment" type="radio" ng-model="HomeClassify.newArticle.is_comment" value="true">是</input>
		                    <input name="is_comment" type="radio" ng-model="HomeClassify.newArticle.is_comment"
		                     value="false">否</input>
		                </label>
					</div>
					<div class="col-sm-9">
						<label class="col-md-3 important-label">关键字:</label>
		                <label>
		                    <input name="keyword" type="text" ng-model="HomeClassify.newArticle.keyword"></input>
		                    <i>(多个关键字之间用“/”分隔)</i>
		                </label>
					</div>
					<div class="col-sm-7">
						<button class="btn btn-primary btn-sm" ng-click="HomeClassify.publish()">发表</button>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
	<div ng-include src="HomeClassify.footerView" class="detailFooterView center-block"></div>
</div>

