
<div class="headerView detailHeader">
	<div class="linear-wp"></div>
	<div class="header header-sp">
	    <div class="header-wp-b">
	    	<div class="center-block header-content">
				<h3 class="logo">DLNUBBS</h3>
				<ul class="sub-nav">
	                <li ng-repeat="kind in HomeClassify.Kinds"><a href="{{'/#/classify/' + kind.id}}" ng-class="{active: HomeClassify.kindId === kind.id}">{{kind.tittle}}</a></li>
	                <li><a href="">游戏联盟</a></li>
	            </ul>
				<div class="userMesssage">
					<label>你好：
						<a href="">{{HomeClassify.user}}</a>
					</label>

				</div>
			</div>
	    </div>	
	</div>
</div>
<div class="b-wrap">
	<div class="detail-layout center-block">
		<div class="main-wrap">
			<ul class="clearfix">
				<li ng-repeat="article in HomeClassify.articles">
				    <div class="badge-w">
				    	<span class="badge">{{article.agree_count}}</span>
				    </div>
				    <div class="article-info">
				    	<div class="title-info">
							<a href="/#/detail/{{article.id}}">{{article.tittle}}</a>
							<div class="user-author">
								<i class="fa fa-user" aria-hidden="true"></i>
								<span>{{article.author}}</span>
							</div>
						
						</div>
						<div class="content-info">
							<p>{{article.content}}</p>
							<i class="i-small">{{article.create_time}}</i>
						</div>
				    </div>
				
				</li>
			</ul>
			<div class="pagination-w">
				<uib-pagination ng-show="HomeClassify.pager.totalItems > 20" total-items="HomeClassify.pager.totalItems" ng-model="HomeClassify.page" items-per-page="20" ng-change="HomeClassify.getArticleByKind(HomeClassify.kindId,HomeClassify.page)" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" max-size="5" boundary-links="true" rotate="false"></uib-pagination>
			</div>
		</div>	
	</div>
	<div ng-include src="HomeClassify.footerView" class="detailFooterView center-block"></div>
</div>

