<div class="container">
    <div class="linear-wp"></div>
    <header class="header">
        <div class="center-block sub-nav-wrap">
            <span class="logo">DLNUBBS</span>
            <ul class="sub-nav">
                <li><a href="">民大校园</a></li>
                <li><a href="">老乡同盟</a></li>
                <li><a href="">招聘专区</a></li>
                <li><a href="">考研生活</a></li>
                <li><a href="">投票系统</a></li>
                <li><a href="">游戏联盟</a></li>
            </ul>
        </div>
    </header>
    <div class="content-layout">
        <div class="login-layout">
            <div class="login-text center-block">
                <h2>现在加入大连民族大学论坛，加入讨论吧</h2>
                <ul class="">
                    <li class=""><a href="#/login" class="btn-common">登录</a></li>
                    <li class=""><a href="#/register" class="btn-common">注册</a></li>
                </ul> 
            </div>
            
        </div>
    	<div class="content center-block clearfix">
    		<div class="main pull-left">
                <div class="group-title group-title-default">
                    <h4>热门推荐</h4>
                </div>
                <div class="hot-wrap">
                    <div class="carousel-show">
                        <uib-carousel active="Home.carousel.active" interval="Home.carousel.myInterval" no-wrap="Home.carousel.noWrapSlides" no-pause="true" no-transition="Home.carousel.transition">
                            <uib-slide ng-repeat="slide in Home.carousel.slides track by slide.id" index="slide.id">
                                <img ng-src="{{slide.image}}">
                                <div class="carousel-caption">
                                    <h5>Slide {{slide.id}}</h5>
                                    <p>{{slide.text}}</p>
                                </div>
                            </uib-slide>
                        </uib-carousel>
                    </div>
                    <div class="hot-article pull-right">
                        <ul>
                            <li class="article-item" ng-repeat="artice in Home.hot"><a href="artice.url">{{artice.title}}</a></li>
                        </ul>
                    </div>
                </div>
    			<div class="group-title group-title-blue">
                    <h4>精选模块</h4>
                </div>
    		</div>
    		<div class="side pull-right"></div>
    	</div>
    </div>
    <div class="footer"></div>
</div>
<div ui-view="home">
  
</div>
<!-- div.className -->
<!-- div#IdName -->
<!-- div.className['data-rr': 'rr']{value}*number>childNode*number -->