
<div ui-view="home" class="container">
    
    <header class="header">
    <div class="linear-wp"></div>
        <div class="center-block sub-nav-wrap">
            <span class="logo">DLNUBBS</span>
            <ul class="sub-nav">
                <li ng-repeat="kind in Home.articleKinds"><a href="{{'/#/classify/' + kind.id}}">{{kind.tittle}}</a></li>
                <li><a href="">游戏联盟</a></li>
            </ul>
            <div class="userMesssage" ng-if="Home.log">
                <label>你好：
                    <a href="#/user/{{Home.user}}">{{Home.user}}</a>
                </label>

            </div>
        </div>
    </header>
    <div class="content-layout">
        <div ng-include src="Home.noUserView" ng-if="!Home.loginType" class="login-layout"></div>         
        <div class="checkView" ng-if="Home.loginType">         
             
        </div>
        <div class="content center-block clearfix">
            <div class="main pull-left">
                <div class="group-title group-title-default">
                    <h4>热门推荐</h4>
                </div>
                <div class="hot-wrap">
                    <div class="carousel-show">
                        <uib-carousel active="Home.carousel.active" interval="Home.carousel.myInterval" no-wrap="Home.carousel.noWrapSlides" no-pause="true" no-transition="Home.carousel.transition">
                            <uib-slide ng-repeat="slide in Home.carousel.slides track by slide.id" index="slide.id">
                                <img ng-src="{{slide.image}}">
                                <div class="carousel-caption">
                                    <h5>Slide {{slide.id}}</h5>
                                    <p>{{slide.text}}</p>
                                </div>
                            </uib-slide>
                        </uib-carousel>
                    </div>
                    <div class="hot-article pull-right">
                        <ul>
                            <li class="article-item" ng-repeat="artice in Home.hot"><a href={{artice.url}}>{{artice.artile_tittle}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="group-title group-title-blue">
                    <h4>精选模块</h4>
                </div>
                <div class="group-wrap clearfix">
                    <div class="article-group-l col-md-6">
                        <div class="article-group" ng-repeat="kind in Home.kinds.left">
                            <h4>{{kind.tittle}}</h4>
                            <ul>
                                <li ng-repeat="record in Home.artilesbyKind[kind.id]"><a href="/#/detail/{{record.artile_id}}">{{record.artile_tittle}}</a></li>
                                
                            </ul>
                        </div>
                    
                    </div>
                    <div class="article-group-r col-md-6">
                        <div class="article-group"  ng-repeat="kind in Home.kinds.right">
                            <h4>{{kind.tittle}}</h4>
                            <ul>
                                <li ng-repeat="record in Home.artilesbyKind[kind.id]"><a href="/#/detail/{{record.artile_id}}">{{record.artile_tittle}}</a></li>
                            </ul>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="side pull-right">
                <div class="side-title">
                    <h4>招聘黑板报</h4>
                </div>
                <div class="side-group">
                    <ul>
                        <li class="side-group-item" ng-repeat="item in Home.employment">
                            <img src="{{item.headimg}}">
                            <div class="job-blackboard">
                                <a href={{item.url}}>{{item.title}}</a>
                                <label>发布人：{{item.author}}</label>
                            </div>
                        </li>
                    </ul>
                </div>      
            </div>
        </div>
    </div>
    <div ng-include src="Home.footerView" class="footerView"></div>
</div>
<div ui-view="detail"></div>
<!-- div.className -->
<!-- div#IdName -->
<!-- div.className['data-rr': 'rr']{value}*number>childNode*number -->