.carousel-close{

    border: none;
    background: none;
    display: block;
    &:hover{
        background: none;
    }
}
.carousel{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    padding-top: 0;
    .slides-nav{
        margin-bottom: 10px;
        text-align: center;
        .slide-operate{
        }
    }
    .slides-container{
        width: 100%;
        height: 660px;
        overflow-y: scroll;
        .slide{
            width: 100%;
            height: 100%;
            overflow: scroll;
        }
        .display-none{
            display: none;
        }
        .active{
            display: block;
        }
    }
}
